*{
    
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    
    background-color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    
}

.fundo{
    
    background-image: url(imagem/fundo%2051.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    background-attachment: fixed;
}
        
.caption{
    
    font-size: 30px;
    margin-top: 20px;
    color: white;
    text-align: center;
}

header{
    
    margin-top: 30px;
    font-size: 25px;
    color: aqua;
    height: 70px;
    text-align: center;
    line-height: 70px;
}

main{
    
    background-color: #8f8e8e;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 90%;
    margin: 5vh auto;
    padding: 20px;
    margin-top: 100px;
    box-shadow: 5px 5px 10px aqua;
}

.usuario{
    
    width: 100%;
    text-align: center;
}

.usuario th{
    
    height: 50px;
    border-radius: 100px;
    background-color: aqua;
    padding-left: -20px;
    font-size: 1.2rem;    
}

.usuario td{
    
    height: 50px;
    padding-left: 20px;
}

.usuario th:last-child,
.usuario td:last-child{
    
    padding: 0;
    min-width: 140px;
    text-align: center;
}

.usuario tr:hover{
    
    background-color: var(--secundary-color);
}

.rodape{
    
    color: aqua;
    font-size: 20px;
    margin-top: 200px;
    text-align: center;
    font-family: "Comic Sans", sans-serif;
}

.button{
    
    border-style: none;
    height: 40px;
    padding: 6px 12px;
    background-color: black;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: box-shadow .6s ease;
}

button.green{
    
    background-color: #13CE66;
}

button.red{
    
    background-color: #FF4949;
}

.button:hover{
    
    box-shadow: inset 200px 0 0 #00000055;
}